<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.trees">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NovoProjetoCenso" />
        <activity android:name=".PainelActivity" />
        <activity android:name=".NovoProjetoAmostra" />
        <activity android:name=".TodosProjetosAmostra" />
        <activity android:name=".TodosProjetosCenso" />
        <activity android:name=".NovaAmostra" />
        <activity android:name=".TodasAmostras" />
        <activity android:name=".OpcoesCenso" />
        <activity android:name=".OpcoesAmostra" />
        <activity android:name=".VerColetaCenso" />
        <activity android:name=".VerColetaAmostra" />
        <activity android:name=".IdentificacaoActivity" />
        <activity android:name=".EnviaProjetoActivity"></activity>
    </application>

</manifest>